body{
    background-color: #242424;
    color: #fff;
}
p::before{
    content: "# ";
    color: red;
    font-size: 25px;
}
.group{
    width: 100px;
    padding: 10px;
    border: 3px solid green;
    border-radius: 10px;
    cursor: pointer;
}
.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.child{
    width: 50px;
    height: 50px;
    border: 3px solid black;
    background-color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    font-size: 25px;
    animation: box 3s linear infinite;
}
@keyframes box {
    0%{rotate: 360deg;}
}
.hr{
    width: 100%;
    border:3px solid #fff;
}
.button{
   width: 50px;
   height: 50px;
   font-size: 35px;
   border-radius: 50%;
   cursor: pointer;
   background-color: lightblue;
}